body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(243, 219, 187);
    padding: 0;
  }
  
  header {
    background-color: #e4e2c9;
    padding: 1rem;
    font-style: italic;
    font-weight: bold;
    color: rgb(61, 46, 46);
    text-align: center;
  }
  
  nav {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  nav a {
    color: #573434;
    text-decoration: none;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 1rem;
  }
  
  footer {
    position: fixed;
    background-color: rgb(161, 135, 107);
    bottom: 0rem;
    width: 100%;
    text-align: center;
    color: rgb(35, 33, 42);
    font-size: 1.8rem;
  }
  